<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>{{ pageTitle }}</title>
		<link rel="stylesheet" href="/css/main.css"/>
		<link href="https://fonts.googleapis.com/css2?family=VT323&display=swap" rel="stylesheet">
	</head>
	<body>
		{% block content %}{% endblock %}
		<footer>
			{% block footer %}{% endblock %}
		</footer>
	</body>
</html>